body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    padding: 25px;
    background-image: url('https://github.com/joselpadronc/clipboardWithWebComponents/blob/main/src/static/images/bg-header-mobile.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-container__logo {
    margin-top: 100px;
    margin-bottom: 20px;
}

.banner-container__content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.pc,
.devices {
    margin-top: 50px;
    padding: 25px;
}

.pc-content, .devices-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc-content__image {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.devices-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pc-content__image img,
.devices-image img {
    width: 100%;
}

.businessSection {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
}

.businessSection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
}

.bottomCta {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
}

.bottomCta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 50px;
    padding: 25px;
    background-color: #f5f6f8;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 25px;
}

.footer-content__logo img {
    width: 60px;
    margin-top: 50px;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
}

.nav-container__item {
    font-size: 18px;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    font-weight: 400;
}

.nav-container__social {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    grid-gap: 25px;
}

.nav-container__social img {
    color: hsl(210, 10%, 33%);
    cursor: pointer;
}

.attribution {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .banner {
        background-image: url('https://github.com/joselpadronc/clipboardWithWebComponents/blob/main/src/static/images/bg-header-desktop.png?raw=true');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (min-width: 1024px) {
    .pc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pc-content {
        max-width: 1024px;
    }

    .pc-content__grid {
        /* position: relative; */
        display: grid;
        grid-template-columns: 1fr 475px;
        grid-template-areas: 'image textItem';
        grid-column-gap: 20px;
        align-items: center;
        /* margin-top: 25px; */
    }

    .pc-content__image {
        position: absolute;
        left: -15px;
        width: 550px;
        /* margin-top: 15px; */
    }

    .pc-content__text {
        grid-area: textItems;
    }

    .devices-image img {
        width: 800px;
    }

    .devices-content__items {
        display: grid;
        grid-template-columns: repeat(3, 325px);
        align-items: center;
    }

    .businessSection-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-gap: 35px;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
    }

    .footer-content {
        max-width: 1024px;
        width: 100%;
        display: grid;
        grid-template-columns: 60px 1fr 150px;
        grid-gap: 60px;
        align-items: center;
    }

    .footer-content__logo img {
        margin-top: 0;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .nav-container__social {
        margin-top: 0;
    }
}