.banner {
    background-image: url('https://github.com/joselpadronc/clipboardWithWebComponents/blob/main/src/static/images/bg-header-mobile.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 100px;
    margin-bottom: 20px;
}

.sections {
    margin-top: 150px;
}

.images-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-bottom: 45px;
}

.images-sections img {
    width: 100%;
    object-fit: contain;
}

.businessSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 70px;
}

.footer {
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    padding-top: 50px;
}

.footer-logo img {
    width: 60px;
    height: 60px;
}

.nav-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    grid-gap: 25px;
}

.nav-container__item {
    color: hsl(210, 10%, 33%);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.nav-container__social {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 35px;
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .banner {
        background-image: url('https://github.com/joselpadronc/clipboardWithWebComponents/blob/main/src/static/images/bg-header-desktop.png?raw=true');
    }
}